name: Infrastructure Dev

on:
  push:
    branches: [main]
    paths:
      - 'env/dev/**'
      - 'modules/**'
      - '.github/workflows/infrastructure-dev.yml'
  pull_request:
  workflow_dispatch:

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  TF_VERSION: 1.2.3
  TF_ENV: dev

jobs:
  terraform-plan:
    environment: Dev
    runs-on: ubuntu-latest

    env:     
      TF_IN_AUTOMATION: true

    steps:
    - uses: actions/checkout@v2

    - name: Terraform Plan
      uses: ./.github/actions/tf-plan
      with:
        aws_access_key_id: ${{ env.AWS_ACCESS_KEY_ID }}
        aws_secret_access_key: ${{ env.AWS_SECRET_ACCESS_KEY }}
        terraform_environment: ${{ env.TF_ENV }}
        terraform_version: ${{ env.TF_VERSION }}
        terraform_additional_arguments: ""
    
  terraform-apply:
    needs: terraform-plan
    if: github.ref == 'refs/heads/main' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')    
    environment: Dev-Infra
    concurrency: Dev-Infra
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Terraform Apply
      uses: ./.github/actions/tf-apply
      with:
        aws_access_key_id: ${{ env.AWS_ACCESS_KEY_ID }}
        aws_secret_access_key: ${{ env.AWS_SECRET_ACCESS_KEY }}
        terraform_environment: ${{ env.TF_ENV }}
        terraform_version: ${{ env.TF_VERSION }}
        terraform_additional_arguments: ""
